@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");

.headerContainer {
  display: grid;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 0.75px solid #e2e2e2;
  padding-right: 150px;
  padding-left: 150px;
  grid-template-columns: 80% 20%;
}

.headerLogo {
  color: #cfcfcf;
  font-family: "Gloria Hallelujah";
}

.headerContainerLinks {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.headerLinks {
  text-align: end;
  color: #bbbbbb;
}
