.footer-container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 40px;
}

.footer-container__links {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

a {
  color: #bbbbbb;
  text-decoration: none;
  text-align: end;
}
