.card{
    display: flex;
    flex-direction: column;
}
.card img{
    object-fit: cover;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-content__title{
    font-size: 2rem;
    font-weight: 500;
}
.card-content__resume{
    font-size: 1.5rem;
    font-weight: 300;
}